body {
  background-image: url("http://68.media.tumblr.com/cf875977c0c86e9c917e93b9058c5b36/tumblr_o8tzr4vQG51rlapeio4_540.gif"), url("http://static.fjcdn.com/pictures/Star_8fd81f_956528.jpg");
  background-repeat: repeat-x, repeat;
}

.container {
  background-color: gray;
  margin-top: 230px;
  padding-left: 25px;
  padding-right: 25px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;

  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}
